
.container{
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 10px;



}
.container div{
    display: flex;
    flex-wrap: wrap;
}
.img{
    background-color: white;

    width: 90px;
    height: 90px;
    transition: 0.5s transform;
}
.img:hover{

    transform: scale(1.1);
}
.link{

    border: 4px solid #2994b2;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    background-color: #ffffff;
    font-size: larger;
    color: #2994b2;
    text-decoration-line: none;
}
.link i {
    font-size: larger;
}
.link:hover{
    color: #ffffff;
    background-color: #2994b2;
}
