.container{
  height: 1540px;
  background-color: #22a7cc;
}
.App {


  text-align: center;
}
*{
  /*background-color: #22a7cc;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Lato, sans-serif;
}
