.container {
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    height: 700px;
    border-radius: 10px;

}
.h1{
    padding: 50px;
    color: #2994b2;
}

.userCard{
    text-align: start;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;

    padding: 5px;
    border: 2px solid #22a7cc;
    box-shadow: 2px 2px #b4b4b4;
}
.deleteBtn{
    color: white;
    background-color: red;
}
.updateBtn{
    color: white;
    background-color: #55c44d;
}
.userCard h3{
    color: rgba(128, 128, 128, 0.69);
}

