.container {
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    height: 700px;
    border-radius: 10px;

}
.h1{
    padding: 50px;
    color: #2994b2;
}

.userCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: start;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;

    padding: 5px;
    border: 2px solid #22a7cc;
    box-shadow: 2px 2px #b4b4b4;
}
.table{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
.table h3{
    margin-right: 15px;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.6);
}
.btnDiv{
    display: flex;
}
.deleteBtn{
    border-radius: 5px;
    cursor: pointer;
    padding: 2px;
    margin: 5px;
    color: white;
    background-color: #d57a7a;
}
.deleteBtn:hover{
    transform: scale(1.1);
}

.updateBtn{
    border-radius: 5px;
    cursor: pointer;
    padding: 2px;
    margin: 5px;
    color: white;
    background-color: #99c797;
}
.userCard h3{
    color: rgba(128, 128, 128, 0.69);
}
.text{
    padding: 5px;
    border-radius: 10px;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #ffffff;
    font-size: x-large;
    color: #d57a7a;
}
.updateText{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #ffffff;
    font-size: x-large;
    color: #99c797;
}
.input{
    outline-color: #2994b2;
    border-radius: 10px;
    border: 3px solid rgba(206, 201, 201, 0.81);
    width: 300px;
    height: 60px;
    margin: 10px;


}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #ffffff;
    font-size: x-large;
}

